.u-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9ba4b4;
}
.u-input {
    height: 35px;
    width: 200px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 30px;
    padding: 10px;
    outline: none;
}
.u-btn {
    box-shadow: none;
    border-radius: 5px;
    background-color: #394867;
    color: #fff;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 30px 4px;
    width: 150px;
    min-width: 54px;
    padding: 0 20px;
    text-align: center;
    height: 27px;
}