
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  background: #9ba4b4;
}

/* .calculator-wrapper{
  width: 400px;
  height: 600px;
} */

.row {
  display: flex;
  width: 100%;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: #f1f6f9;
  color: #000;
}

.operator{
  background-color: #394867;
  color: #fff;
}
.result {
  height: 60px;
  background-color: #f1f6f9;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  /* max-width: 400px;
  margin: auto; */
  float: inline-start;
  text-align: center;
  margin-left: 30px;
  padding-top: 15px;
  width: 40%;
  height: 500px;
  padding-bottom: 10px;
  border-radius: 20px;
}